appdirs
asgiref==3.7.2
astroid 
autopep8 
boto3 
botocore 
cachelib 
certifi 
chardet 
click 
colorama 
cs50 
distlib 
Django==5.0.1
django-ckeditor 
django-cors-headers==4.3.1
django-crispy-forms 
django-filter 
django-js-asset 
django-storages 
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
docutils 
filelock 
Flask 
Flask-Session 
gunicorn 
idna 
install 
isort 
itsdangerous 
Jinja2 
jmespath 
lazy-object-proxy 
MarkupSafe 
mccabe 
Pillow==10.2.0
psycopg2-binary==2.8.5
pycodestyle 
PyJWT==2.8.0
pylint 
python-dateutil 
python-dotenv 
pytz==2023.3.post1
requests 
s3transfer 
six 
SQLAlchemy==1.3.17
sqlparse==0.4.4
termcolor==1.1.0
toml==0.10.2
urllib3==1.25.9
virtualenv==20.2.1
Werkzeug==0.15.4
whitenoise==5.1.0
wrapt==1.12.1
